Repository TheTechOddBug/agents-at-scale-ark: changes, and which Codecov flags are due for each by the changed paths.
All: ark-cli, combined-coverage

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0.1%
        flags:
          - ark-cli
          - combined-coverage
    patch:
      default:
        target: auto
        threshold: 0.1%

flags:
  ark-cli:
    paths:
      - tools/ark-cli/
  combined-coverage:
    paths:
      - ark/
      - services/
      - mcp/
      - tests/

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

fix: override security context in devspace for dev mode (#872)
  services/ark-api/devspace.yaml
  services/ark-broker/devspace.yaml
  services/ark-dashboard/devspace.yaml
  services/ark-evaluator/devspace.yaml
  services/ark-mcp/devspace.yaml
  services/executor-langchain/devspace.yaml
Due: combined-coverage

feat: add configurable proxy timeout (#873)
  services/ark-api/ark-api/src/ark_api/api/v1/proxy/proxy.py
  services/ark-api/chart/values.yaml
Due: combined-coverage

feat: remove development feature flag for a2a tasks (#497)
  services/ark-dashboard/ark-dashboard/__tests__/unit/atoms/experimental-features.test.ts
  services/ark-dashboard/ark-dashboard/__tests__/unit/components/app-sidebar-tasks.test.tsx
  services/ark-dashboard/ark-dashboard/__tests__/unit/components/experimental-features-dialog/experimental-feature-dialog.test.tsx
  services/ark-dashboard/ark-dashboard/__tests__/unit/components/experimental-features-dialog/experimental-features.test.tsx
  services/ark-dashboard/ark-dashboard/__tests__/unit/lib/constants/dashboard-icons.test.ts
  services/ark-dashboard/ark-dashboard/__tests__/unit/lib/dashboard-sections.test.ts
  services/ark-dashboard/ark-dashboard/atoms/experimental-features.ts
  services/ark-dashboard/ark-dashboard/components/app-sidebar.tsx
  services/ark-dashboard/ark-dashboard/components/experimental-features-dialog/experimental-features.tsx
  services/ark-dashboard/ark-dashboard/lib/constants/dashboard-icons.ts
Due: combined-coverage

fix: make mcp validation message appear at the right field (#923)
  services/ark-dashboard/ark-dashboard/components/editors/mcp-editor.tsx
  services/ark-dashboard/ark-dashboard/components/ui/conditionalInputRow.tsx
Due: combined-coverage

feat: Sessions tab for the broker view (#862)
  services/ark-dashboard/ark-dashboard/__tests__/unit/app/(dashboard)/broker/sessions-tab.test.ts
  services/ark-dashboard/ark-dashboard/__tests__/unit/app/(dashboard)/broker/sessions-view-component.test.tsx
  services/ark-dashboard/ark-dashboard/app/(dashboard)/broker/page.tsx
  services/ark-dashboard/ark-dashboard/lib/broker/session-utils.ts
Due: combined-coverage

fix: update Node.js versions to patch CVE-2026-22036 in undici (#921)
  .github/actions/jfrog-xray-scan/tolerated_violations.txt
  docs/package-lock.json
  docs/package.json
  images/ark-tools/Dockerfile
  mcp/filesystem-mcp/Dockerfile
  services/ark-broker/ark-broker/Dockerfile
  services/ark-dashboard/Dockerfile
  templates/mcp-server/Dockerfile
  tools/ark-cli/Dockerfile
Due: ark-cli, combined-coverage

feat: make chat not overflow (#938)
  services/ark-dashboard/ark-dashboard/components/chat/chat-message.tsx
  services/ark-dashboard/ark-dashboard/vitest.setup.ts
Due: combined-coverage

chore(terraform): update terraform-google-modules (#926)
  infrastructure/providers/gcp/gke.tf
Due: none

fix: CVE-2026-24842 in node-tar (#971)
  services/ark-dashboard/ark-dashboard/package-lock.json
  services/ark-dashboard/ark-dashboard/package.json
Due: combined-coverage

fix: Add watch permission to restart job sa (#999)
  services/ark-broker/chart/templates/restart-controller-hook.yaml
  services/ark-broker/devspace.yaml
Due: combined-coverage

fix: use locally built images when testing ark-cli instead of ghcr.io (#1002)
  .github/actions/test-ark-cli/action.yaml
  .github/workflows/cicd.yaml
Due: none
